#infoarea {
    background-color: aliceblue;
    text-align: left;
}

.about_data {
    max-width: 1200px;
    margin: 20px;
    margin-bottom: 0px;

    padding: 5px 5px 0px 0px;

}

h2 {
    margin: 20px;
    margin-bottom: 0px;
    padding: 10px 5px 10px 0px;

    border-bottom: 1px solid gray;
}